#violet {
    background-color: #9A70CCFF;
}

#red {
    background-color: #FF6F61FF;
}

#green {
    background-color: #00CC99FF;
}

#blue {
    background-color: #00A8CCFF;
}

#yellow {
    background-color: #FFD662FF;
}

#orange {
    background-color: #ff7c4d;
}

#pink {
    background-color: #FF99C8FF;
}